@media (max-width: 768px) {

  .gallery {
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin-top: 260px;
  }

  .gallery__image {
    margin-bottom: 50px;
    width: 300px;
    height: 250px;
    box-shadow: 0 25px 23px 0 rgba(32, 32, 32, 0.562);
    border-radius: 50px;
    }

}

@media (min-width: 769px) {
.gallery {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;  
}

.gallery__column {
    flex: 33%;
    
}

.gallery__image {
    margin-top: 50px;
    margin-bottom: 50px;
    vertical-align: middle;
    width: 400px;
    height: 300px;
    box-shadow: 0 25px 23px 0 rgba(32, 32, 32, 0.562);
    border-radius: 50px;
    transition: transform .8s linear;
    &:hover {
      transform: scale(1.05);
    }
  }
}