.gallery {
    display: flex;
    justify-content: center;
    padding-left: 10%;    
}

.gallery__column {
    flex: 50%;
    padding: 0 4px;
}

.gallery__image {
    margin-top: 100px;
    vertical-align: middle;
    width: 500px;
    height: 400px;
    box-shadow: 0 25px 23px 0 rgba(32, 32, 32, 0.562);
    border-radius: 50px;
    transition: transform .8s linear;
    &:hover {
      transform: scale(1.1);
    }
  }