@media (max-width: 768px) {

    .description {
        margin-top: 260px;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-size: 26px;
        line-height: 35px;
        margin-left: 5px;
        margin-right: 5px;
        max-width: 90%;
        margin-left: 15px;
        padding-bottom: 40px;
    }

}

@media (min-width: 769px) {

.gif {
    margin-top: 100px;

}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    line-height: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 200px;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: block;
    max-width: 1000px;
}

.description__line {
    position: absolute;
    width: 700px;
    background-color:rgb(97, 101, 112);
    border: 1px solid rgb(97, 101, 112);
    margin-top: 25px;
  }

}