@media (max-width: 768px) {

    .description {
        font-family: 'Poppins', sans-serif;
        margin-top: 260px;
        margin-bottom: 128px;
        margin-left: 20px;
        color: rgb(0, 0, 0);
        justify-content: center;
        display: block;
        font-weight: 100;
        font-size: 18px;
        line-height: 50px;
        
        }

}

@media (min-width: 769px) {

.gif {
    margin-top: 100px;

}

.description {
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
    margin-bottom: 64px;
    margin-left: 300px;
    color: rgb(0, 0, 0);
    justify-content: center;
    display: block;
    font-size: 30px;
    line-height: 70px;
    max-width: 1000px;
}

.description__line {
    position: absolute;
    width: 700px;
    background-color:rgb(97, 101, 112);
    border: 1px solid rgb(97, 101, 112);
    margin-top: 25px;
  }

}