.about {
   margin-top: 100px;
   max-width: 1000px;
   color: blanchedalmond;
   text-align: center;
   display: block;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   margin-bottom: 128px;
   padding-left: 350px;
}