@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
@import "_variables";
@import "modules/hamburger.scss";
@import "modules/serwis.scss";



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
  background:  rgb(36, 68, 212);
}

.movie {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

 
}

.hero {
position: absolute;
text-align: center;
top: 48px;
right: 0px;
width: 780px;
backdrop-filter: blur(20px) saturate(180%) brightness(75%);
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 20px 0px 0px 20px;

color: #fff;

}

.hero__header {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  margin: 0;
}

.hero__description {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  margin: 0;
}